# Dependencies
node_modules/

# Environment and OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Ignore root verification screenshots
/*.png
/*.jpg
!icons/*.png
!icons/*.svg
